.idea/
.vscode
bin/*
soter_core/*
fake_data_generator/data_files/*
fake_data_generator/logs/*
ansible/playbook/*.retry
docs/*.html
docs/dashboard/*.html
coverage.*
pkg/*
tests/env/*
tests/__pycache__/*
tests/.cache
*.DS_Store
node_modules/
fake_data_generator/dev/

